@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body{
    background-image: url("./Images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

.nav1{
    background-color: rgba(0,0,0, .15);
}

#cityName{
    text-decoration: underline;
    text-decoration-color:rgba(0,0,255, .3);
    text-decoration-thickness: 2px;
}

/* footer styles */

.main-footer {
    background: rgba(0,0,0, .3);
    color: #fff; 
    display: flex;
    justify-content: space-between;
    filter: brightness(0.2);
    margin-top: 10px;
    }
    .heading_heading-sm_text-lt{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    .footer_social{
        position: relative;
        right: 10px;
        bottom: 10px;
    }
    .main-footer__upper {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0; 
    }
        @media only screen and (max-width: 56.25em) {
        .main-footer__upper {
            padding: 6rem 0; } }
        @media only screen and (max-width: 37.5em) {
        .main-footer__upper {
            display: block; } }
    .main-footer__row-1 {
        order: 2; 
    }
        @media only screen and (max-width: 56.25em) {
        .main-footer__row-1 {
            margin-bottom: 1rem; } }
    .main-footer__row-2 {
        width: 30%;
        order: 1;
        max-width: 50rem; 
    }
        @media only screen and (max-width: 56.25em) {
        .main-footer__row-2 {
            width: 100%; } }
    .main-footer__short-desc {
        margin-top: 1rem;
        color: #eee;
        font-size: 1.2rem;
        line-height: 1.7; 
    }
    .main-footer__social-cont {
        margin-top: 2rem; 
    }
    .main-footer__icon {
        margin-right: 1rem;
        width: 2.5rem; 
    }
        .main-footer__icon--mr-none {
        margin-right: 0; 
    }
    .main-footer__lower {
        padding: 4rem 0;
        border-top: 1px solid #444;
        color: #eee;
        font-size: 1.2rem;
        text-align: left;
        text-align: center; 
    }
        .main-footer__lower a {
        text-decoration: underline;
        font-weight: bold;
        margin-left: 2px; 
    }
        @media only screen and (max-width: 56.25em) {
        .main-footer__lower {
            padding: 3.5rem 0; } }
