@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body{
    background-image: url("./Images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

.nav1{
    background-color: rgba(0,0,0, .5);
}

#cityName{
    text-decoration: underline;
    text-decoration-color:rgba(0,0,255, .3);
    text-decoration-thickness: 2px;
}


